//This file sets how atom looks!
//Currently using the dracula theme and syntax


//Main background ccolor
atom-text-editor {background-color: #282a36;}

//Folder color
 span.icon-file-directory {color: pink;}

//Folder panel background color
.tree-view {background-color: #3b4252;}

//Highlight color
.editor .selection .region {background-color: orange;}

//Cursor
.editor .cursor {
   position: absolute;
   border: 1px solid;
   background-color: green;
}
