//Folder color
 span.icon-file-directory {
    color: orange;
}
//Folder panel background color
.tree-view {
   background-color: #0a0a0a;

}

//Main background ccolor
atom-text-editor {
//background-color: #0F0F0F;
background-color: #041a33;
}

//Cursor color
atom-text-editor .cursor {
   border-color: green;
}

//.py color
.icon[data-name$=".py"]{
	color: green;
}

//.java,.class color
.icon[data-name$=".java"],.icon[data-name$=".class"]{
	color: yellow;
}

//.txt color
.icon[data-name$=".txt"],.icon[data-name$=".ini"],.icon[data-name$=".conf"], .icon[data-name$=".spec"]{
	color: #add8e6 ;
}

.icon[data-name$=".mp3"]{
	color: #6c94be;
}

//.exe, .bat color
.icon[data-name$=".exe"], .icon[data-name$=".bat"]{
	color: red;
}

//picture colors
.icon[data-name$=".png"], .icon[data-name$=".jpg"], [data-name$=".PNG"],.icon[data-name$=".JPG"].icon[data-name$=".ico"]{
	color: pink
}

//Books and pdfs and stuff
.icon[data-name$=".pdf"],.icon[data-name$=".epub"],.icon[data-name$=".mobi"]{
	color: #90ee90
}
